.col-md-3 img{

	width: 70%;
}

.username{

	font-size: 2.5em;
	font-weight: bold;
}

.nickname{

	font-size: 1.5em;
}

.font_bold{

	font-weight: bold;
}

.col-md-5 .clear_left_padding{

	padding-left: 0;
}

.clear_right_padding{

	padding-right: 0 !important;
}

.font_red{

	color: red;
}

.font_green{

	color: #2ecc71;
}

