.submit_block_cover {
	position: relative;
	box-sizing: border-box;
	display: block;
	font-size: 2.5em;
	padding: 0.2em;
	width: 30em;
	/*height: 20em;*/
	top: 50%;
	left: 50%;
	/*font-weight: bold;*/
	/*text-align: center;*/
	background: #fff;
	color: #000;
	/*mix-blend-mode: normal;*/
	z-index: 1000;
	background-color: rgba(255, 255, 230, 0.5);
	transform: translate3d(-50%, -10%, 0);
	/*overflow-y: auto;*/
}

.page-title {
	/*text-align: center;*/
	font-size: 0.7em;
	color: #000000;
}

.submitdis {
	margin-top: 5em;
}

.option_text {
	font-size: 0.6em;
}