html, body {
	/*	width: 100%;
	height: 100%;*/
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	overflow-y: auto;
}

@font-face {
	font-family: TaipeiSansTCBeta-Regular;
	src: url('/font/TaipeiSansTCBeta-Regular.ttf') format("truetype");
}

body {
	background-color: #00ff00;
}

.scrollable {
	overflow-x: hidden;
	overflow-y: scroll;
}

.navbar-nav li {
	padding-left: 1em;
	font-size: 1.5em;
}

.fortest {
	background-color: transparent;
	background-repeat: no-repeat;
	color: white;
	border: none;
	overflow: hidden;
	outline: none;
	/*padding: 0;*/
	/*width: 5em;*/
	/*height: 4em;*/
}

.error_pos {
	padding-left: 0.67em;
}

.checkbox_pos {
	padding-left: 0.37em;
}

.title {
	font-size: 2em;
}

.text {
	font-size: 1.4em;
}

.text_small {
	font-size: 0.5em;
	color: red;
}

.clear_margin {
	margin-bottom: 0rem;
}

.bardis {
	margin: -0.5em;
}

.dis {
	margin-top: 1em;
}

.topdis {
	margin-top: 5em;
}

.registerdis {
	margin-top: 5em;
}