{% extends 'base.html' %}

{% block title %}
Problem
{% endblock %}

{% block Css %}
<link rel="stylesheet" type="text/css" href="../static/css/index.css">
<link rel="stylesheet" type="text/css" href="../static/css/Rish_block.css">
<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Playball">
<style type="text/css">
	.no-margin {
		margin: 0px;
	}

	.no-margin-top {
		margin-top: 0px;
	}

	.no-margin-bottom {
		margin-bottom: 0px;
	}

	.no-margin-left {
		margin-left: 0px;
	}

	.no-margin-right {
		margin-right: 0px;
	}
</style>
{% endblock %}

{% from "_alert.html" import problem_edit_alert %}
{% block main %}
<script>
function submit_form(s)
{
	var el = document.getElementById(s)
	if(el != null)
		el.submit();
}
</script>
<div class="container-fluid topdis">
	{% if get_flashed_messages() or form.errors %}
	<div class="row">
		{% for cat, m in get_flashed_messages(with_categories=true) %}
			{{ problem_edit_alert(m, cat) }}
		{% endfor %}
		{% for m in form.errors.values() %}
			{% for i in m %}
				{{ problem_edit_alert(i, 'danger') }}
			{% endfor %}
		{% endfor %}
	</div>
	{% endif %}

	<form id="edit_problem" action="{{ form_action }}" method="POST">
	{{ form.hidden_tag() }}
	<div class="row">
		<div class="col-md-1 col-sm-1 col-lg-1 col-xl-1 dis"></div>
		<div class="col-md-6 col-sm-6 col-lg-6 col-xl-6 dis">
			<div class="card">
				<div class="card-header title" style="text-align: center;">
					<h3 class="no-margin">Problem Name</h3>
				</div>
				{{ form.problem_name(class='form-control') }}
			</div>
		</div>
		<div class="col-md-4 col-sm-4 col-lg-4 col-xl-4 dis">
			<div class="card">
				<div class="card-header title" style="text-align: center;">
					<h3 class="no-margin">Tags</h3>
				</div>
				{{ form.tags(class='form-control', placeholder='用;隔開') }}
			</div>
		</div>
		<div class="col-md-1 col-sm-1 col-lg-1 col-xl-1 dis"></div>

		<div class="col-md-1 col-sm-1 col-lg-1 col-xl-1 dis"></div>
		<div class="col-md-10 col-sm-10 col-lg-10 col-xl-10 dis">
			<div class="card">
				<div class="card-header title" style="text-align: center;">
					<h3 class="no-margin">Description</h3>
				</div>
				{{ form.description(class='form-control', rows='10') }}
			</div>
		</div>
		<div class="col-md-1 col-sm-1 col-lg-1 col-xl-1 dis"></div>

		<div class="col-md-1 col-sm-1 col-lg-1 col-xl-1 dis"></div>
		<div class="col-md-5 col-sm-5 col-lg-5 col-xl-5 dis">
			<div class="card">
				<div class="card-header title" style="text-align: center;">
					<h3 class="no-margin">Input Format</h3>
				</div>
				{{ form.input_format(class='form-control', rows='5') }}
			</div>
		</div>
		<div class="col-md-5 col-sm-5 col-lg-5 col-xl-5 dis">
			<div class="card">
				<div class="card-header title" style="text-align: center;">
					<h3 class="no-margin">Output Format</h3>
				</div>
				{{ form.output_format(class='form-control', rows='5') }}
			</div>
		</div>
		<div class="col-md-1 col-sm-1 col-lg-1 col-xl-1 dis"></div>

		<div class="col-md-1 col-sm-1 col-lg-1 col-xl-1 dis"></div>
		<div class="col-md-5 col-sm-5 col-lg-5 col-xl-5 dis">
			<div class="card">
				<div class="card-header title" style="text-align: center;">
					<h3 class="no-margin">Sample Input</h3>
				</div>
				{{ form.sample_input(class='form-control', rows='5') }}
			</div>
		</div>
		<div class="col-md-5 col-sm-5 col-lg-5 col-xl-5 dis">
			<div class="card">
				<div class="card-header title" style="text-align: center;">
					<h3 class="no-margin">Sample Output</h3>
				</div>
				{{ form.sample_output(class='form-control', rows='5') }}
			</div>
		</div>
		<div class="col-md-1 col-sm-1 col-lg-1 col-xl-1 dis"></div>

		<div class="col-md-1 col-sm-1 col-lg-1 col-xl-1 dis"></div>
		<div class="col-md-4 col-sm-4 col-lg-4 col-xl-4 dis">
			<div class="card">
				<div class="card-header title" style="text-align: center;">
					<h3 class="no-margin">Testdatas</h3>
				</div>
				<div>
					<div>
						<h5>File</h5>
					</div>
					<div class="row">
						<div class="col-md-1 col-sm-1 col-lg-1 col-xl-1"></div>
						<div class="col-md-4 col-sm-4 col-lg-4 col-xl-4">
							<h5>Input File</h5>
						</div>
						<div class="col-md-6 col-sm-6 col-lg-6 col-xl-6">
							<input type=file name=file>
						</div>
					</div>
					<div class="row">
						<div class="col-md-1 col-sm-1 col-lg-1 col-xl-1"></div>
						<div class="col-md-4 col-sm-4 col-lg-4 col-xl-4">
							<h5>Output File</h5>
						</div>
						<div class="col-md-6 col-sm-6 col-lg-6 col-xl-6">
							<input type=file name=file>
						</div>
					</div>
				</div>
				<div class="list-group">
					<div class="list-group-item">
						<input type="submit" class="btn btn-primary code-form-margin-bottom" value="Upload" disabled>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-4 col-sm-4 col-lg-4 col-xl-4 dis"></div>
		<div class="col-md-2 col-sm-2 col-lg-2 col-xl-2 dis">
			<div class="list-group d-flex justify-content-bottom">
				<a href="#" class="list-group-item list-group-item-action list-group-item-success" onclick=submit_form("edit_problem")>Edit</a>
			</div>
		</div>
		<div class="col-md-1 col-sm-1 col-lg-1 col-xl-1 dis"></div>
	</div>
	</form>
</div>
{% endblock %}