{% extends 'base.html' %}

{% block title %}
About
{% endblock %}

{% block Css %}
<link rel="stylesheet" type="text/css" href="../static/css/index.css">
<link rel="stylesheet" type="text/css" href="../static/css/Rish_block.css">
<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Playball">
{% endblock %}

{% block main %}
<div class="container-fluid">
    <div class="Rish_main">
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-lg-12 col-xl-12">
            <div class="card">
                <div class="card-header title">
                    關於
                </div>
                <div class="card-body">
                    <h4 class="card-title">緣起</h4>

                    <p class="card-text">
                    本專案緣起於 <a href="https://rish.com.tw/">RISH</a> 的 Web 期末專題，現由 FJU CPC 進行維護。<br>
                    原始碼託管於 Github 上: <a href="https://github.com/FjuOnlineJudge/oj">FjuOnlineJudge/oj</a><br>
                    </p>

                    <h4 class="card-title">貢獻者</h4>
                    <ul>
                        <li>
                            <a href="https://github.com/roy4801"><img src="https://avatars2.githubusercontent.com/u/18167809?s=400&v=4" width="50" height="50"></img>  roy4801</a>
                        </li>
                        <li>
                            <a href="https://github.com/lpc0503"><img src="https://avatars3.githubusercontent.com/u/37583122?s=400&u=89fd51989b3340b6df7efd87e37c2a265161d969&v=4" width="50" height="50"></img> ICEJJ</a>
                        </li>
                        <li>
                            <a href="https://github.com/SunTalk"><img src="https://avatars0.githubusercontent.com/u/40466106?s=400&u=a04ccabd0d707d3e26face6d817823bd3921d803&v=4" width="50" height="50"></img> SunTalk</a>
                        </li>
                        <li>
                            <a href="https://github.com/william31212"><img src="https://avatars2.githubusercontent.com/u/40447900?s=400&u=1c51d216ae771403a500a222f69b26b40b39d2e6&v=4" width="50" height="50"></img> halloworld</a>
                        </li>
                        <li>
                            <a href="https://github.com/erichsu1224"><img src="https://avatars3.githubusercontent.com/u/40513062?s=400&u=8233a88e6adbb7595caf0fe84906df2efd0a60a3&v=4" width="50" height="50"></img> Eric Hsu</a>
                        </li>
                    </ul>

                    <h4 class="card-title">鳴謝</h4>
                    Heavily inspired by <a href="https://tioj.ck.tp.edu.tw/">TIOJ</a>(UI) and <a href="http://140.136.150.68/judge/">HOJ</a>(arch)
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}