{% extends 'base.html' %}

{% block title %}
公告
{% endblock %}

{% block Css %}
<link rel="stylesheet" type="text/css" href="../static/css/index.css">
<link rel="stylesheet" type="text/css" href="../static/css/Rish_block.css">
<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Playball">
{% endblock %}


{% block main %}
<div class="test registerdis">
    <div class="form-container">
        <form id="edit_problem" method="POST">
            <div class="row">
                <div class="col-md-1 col-sm-1 col-lg-1 col-xl-1 dis"></div>
                <div class="col-md-6 col-sm-6 col-lg-6 col-xl-6 dis">
                    <div class="card">
                        <div class="card-header title" style="text-align: center;">
                            Title
                        </div>
                        <div class='form-control' style="text-align: center;">
                            {{ goal.title }}
                        </div>
                       
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-lg-4 col-xl-4 dis">
                    <div class="card">
                        <div class="card-header title" style="text-align: center;">
                            Name
                        </div>
                        <div class='form-control' style="text-align: center;">
                            {{ goal.name }}
                        </div>
                       
                    </div>
                </div>
                <div class="col-md-1 col-sm-1 col-lg-1 col-xl-1 dis"></div>

                <div class="col-md-1 col-sm-1 col-lg-1 col-xl-1 dis"></div>
                <div class="col-md-10 col-sm-10 col-lg-10 col-xl-10 dis">
                    <div class="card">
                        <div class="card-header title" style="text-align: center;">
                            Content
                        </div>

                        <div class='form-control' style="text-align: center;">
                            {{ goal.content }}
                        </div>

                    </div>
                </div>
                <div class="col-md-1 col-sm-1 col-lg-1 col-xl-1 dis"></div>
                
                <div class="col-md-1 col-sm-1 col-lg-1 col-xl-1 dis"></div>
                <div class="col-md-4 col-sm-4 col-lg-4 col-xl-4 dis">
                    <div class="card">
                        <div class="card-header title" style="text-align: center;">
                            Build-time
                        </div>
                        <div class='form-control' style="text-align: center;">
                            {{ goal.time }}
                        </div>
                    </div>
                </div>
                
            </div>
        </form>
    </div>
</div>
</div>
{% endblock %}