<!DOCTYPE html>
<html>
<head>
	<title>{% block title %}{% endblock %}</title>
	<meta charset="UTF-8">
	<meta name="description" content="FJCU Online Judge">
	<meta name="keywords" content="FJU,FJCU,OJ,Online Judge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- CSS -->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/template.css') }}">
	<style>
		.navbar-fixed-top{
			position: relative;
		}
	</style>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
	{% block css %}
	{% endblock %}
	<!-- JS -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
	{% block javascript %}
	{% endblock %}
</head>

<body style="background-color: rgba(204, 255, 204, 0.15); margin-bottom: 2.5em;">
	<nav class="navbar navbar-expand-md navbar-expand-sm navbar-expand-lg navbar-expand-xl navbar-dark bg-dark fixed-top">
		<div class="container-fluid">
			<a href="{{ url_for('index') }}">
			<div class="navbar-brand" style="font-size: 1.5em;">
				FJCU CPC
			</div>
			</a>
			<div class="collapse navbar-collapse">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item">
						<a class="nav-link" href="/">首頁</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{ url_for('announce_list') }}">公告</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{ url_for('problem_list') }}">題目列表</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{ url_for('submit_page.submit_handle') }}">提交</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{ url_for('submissions_page.submissions_handle') }}">提交紀錄</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{ url_for('ranking_page.ranking_page_view') }}">排名</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{ url_for('contest_page.contest_page_view') }}">比賽</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{ url_for('about_page') }}">關於</a>
					</li>
				</ul>
				{% if current_user.is_authenticated %}
					<hr class="d-sm-flex d-md-flex d-lg-none">
					<ul class="navbar-nav ml-md-auto d-block d-sm-flex d-md-flex">
						{% if current_user.permLevel <= 0 %} {# Admin #}
						<li class="nav-item">
							<a class="nav-link" href="{{ url_for('announce') }}">發佈公告</a>
						</li>
						{% endif %}
						{% if current_user.permLevel <= 1 %} {# problemsetter #}
						<li class="nav-item">
							<a class="nav-link" href="{{ url_for('edit_problem_page.new_problem') }}">發布新題目</a>
						</li>
						{% endif %}
						<li class="nav-item">
							<a class="nav-link" href="{{ url_for('userinfo', name=current_user.username ) }}">{{ current_user.username }}</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{{ url_for('logout') }}">登出</a>
						</li>
					</ul>
				{% else %}
					<hr class="d-sm-flex d-md-flex d-lg-none">
					<ul class="navbar-nav ml-md-auto d-block d-sm-flex d-md-flex">
						<li class="nav-item">
							<a class="nav-link" href="{{ url_for('login') }}">登入</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{{ url_for('register') }}">註冊</a>
						</li>
					</ul>
				{% endif %}
			</div>
		</div>
	</nav>
	{% block main %}{% endblock %}
</body>
</html>