{% extends 'base.html' %}

{% block title %}
Home Page
{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="../static/css/index.css">
<link rel="stylesheet" type="text/css" href="../static/css/Rish_block.css">
<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Playball">
<style>
.announce-body {
	padding: 0.6em;
}
</style>
{% endblock %}

{% block main %}
<div class="container-fluid">
	<div class="Rish_main">
		<!-- <div class="Rish_block_main">
			<div class="block great h1 cyanblue">
				<div class="sub">
					<div class="block_vertical_main">
						<div class="block_vertical_box">
							<div class="title">
								Welcome To RISH-OJ
							</div>
						</div>
					</div>
				</div>
			</div>
		</div> -->
	</div>

	<div class="row">
		<!-- Bulltin -->
		<div class="col-md-12 col-sm-12 col-lg-12 col-xl-12">
			<div class="card">
				<div class="card-header title">
					公告
				</div>
				<div class="announce-body">
					<table class="table table-hover table-condensed table-striped">
						<thead>
							<tr>
								<th scope="col-md-5 col-sm-5 col-lg-5 col-xl-5">TITLE</th>
								<th scope="col-md-3 col-sm-3 col-lg-3 col-xl-3">Time</th>
								<th scope="col-md-3 col-sm-3 col-lg-3 col-xl-3">Author</th>
							</tr>
						</thead>
						<tbody>
							{% with %}
							{% if announce|length < 5 %}
								{% set announce_length = announce|length %}
							{% else %}
								{% set announce_length = 5 %}
							{% endif %}
							{% for i in range(0, announce_length) %}
								<tr>
									<td><a href="{{ url_for('announce_id', aid=announce[i].announce_id) }}">{{ announce[i].title }}</a></td>
									<td>{{ announce[i].time }}</td>
									<td><a href="{{ url_for('userinfo', name=announce[i].name) }}">{{announce[i].name}}</a></td>
								</tr>
								{% endfor %}
							{% endwith %}

						</tbody>
					</table>
				</div>
			</div>
		</div>
		<!-- Recent Problems -->
		<div class="col-md-6 col-sm-6 col-lg-6 col-xl-6 dis">
			<div class="card">
				<div class="card-header title">
					Recent Problems
				</div>
				<div class="announce-body">
					<table class="table table-hover table-condensed table-striped">
						<thead>
							<tr>
								<th>Title</th>
								<th>Time</th>
								<th>Author</th>
							</tr>
						</thead>
						<tbody>
						{% with %}
							{% if questions|length < 5 %}
								{% set question_length = questions|length %}
							{% else %}
								{% set question_length = 5 %}
							{% endif %}
							{% for i in range(0, question_length) %}
							<tr>
								<td><a href="{{ url_for('problem', pid=questions[i].problem_id) }}">{{ questions[i].problemName }}</a></td>
								<td>{{ questions[i].build_time }}</td>
								<td><a href="{{ url_for('userinfo', name=name[i]) }}">{{ name[i] }}</a></td>
							</tr>
							{% endfor %}
						{%endwith%}
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<!-- Rank List -->
		<div class="col-md-6 col-sm-6 col-lg-6 col-xl-6 dis">
			<div class="card">
				<div class="card-header title">
					Rank list
				</div>
				<div class="announce-body">
					<table class="table table-hover table-condensed table-striped">
						<thead>
							<tr>
								<th>Rank</th>
								<th>ID</th>
								<th>AC</th>
								<th>AC Rate</th>
							</tr>
						</thead>
						<tbody>
						{% with %}
							{% if ranklist|length < 10 %}
								{% set raklist_length = ranklist|length %}
							{% else %}
								{% set raklist_length = 5 %}
							{% endif %}
							{% for i in range(0, raklist_length) %}
								<tr>
									<td>{{ i+1 }}</td>
									<td><a href="{{ url_for('userinfo', name=ranklist[i]['name']) }}">{{ ranklist[i]['name'] }}</a></td>
									<td>{{ ranklist[i]['real_ac'] }}</td>
									<td>{{ "%.2f"|format(ranklist[i]['ac_rate']) }}%</td>
								</tr>
							{% endfor %}
						{% endwith %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
