{% extends 'base.html' %}

{% block title %}
Problem
{% endblock %}

{% block Css %}
<link rel="stylesheet" type="text/css" href="../static/css/index.css">
<link rel="stylesheet" type="text/css" href="../static/css/Rish_block.css">
<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Playball">
{% endblock %}

{% block main %}
<div class="container-fluid topdis">

	<div class="row">

		<div class="col-md-1 col-sm-1 col-lg-1 col-xl-1 dis"></div>
		<div class="col-md-6 col-sm-6 col-lg-6 col-xl-6 dis">
			<h1>probID . probName</h1>
		</div>
		<div class="col-md-2 col-sm-2 col-lg-2 col-xl-2 dis">
			<div class="list-group">
				<a href="#" class="list-group-item list-group-item-action list-group-item-success">Submite</a>
			</div>
		</div>
		<div class="col-md-2 col-sm-2 col-lg-2 col-xl-2 dis">
			<div class="list-group">
				<a href="#" class="list-group-item list-group-item-action list-group-item-warning">Status</a>
			</div>
		</div>
		<div class="col-md-1 col-sm-1 col-lg-1 col-xl-1 dis"></div>

		<div class="col-md-1 col-sm-1 col-lg-1 col-xl-1 dis"></div>
		<div class="col-md-4 col-sm-4 col-lg-4 col-xl-4 dis">
			<div class="card">
				<div class="card-header title" style="text-align: center;">
					Author
				</div>
				<div class="card-body text">
					ICEJJ
				</div>
			</div>
		</div>
		<div class="col-md-3 col-sm-3 col-lg-3 col-xl-3 dis">
			<div class="card">
				<div class="card-header title" style="text-align: center;">
					AC Rate
				</div>
				<div class="card-body text">
					33.33%(1/3)
				</div>
			</div>
		</div>
		<div class="col-md-3 col-sm-3 col-lg-3 col-xl-3 dis">
			<div class="card">
				<div class="card-header title" style="text-align: center;">
					Tag
				</div>
				<div class="card-body text">
					<a href="#" class="btn btn-xs btn-default">Tag1</a>
					<a href="#" class="btn btn-xs btn-default">Tag2</a>
					<a href="#" class="btn btn-xs btn-default">Tag3</a>
				</div>
			</div>
		</div>
		<div class="col-md-1 col-sm-1 col-lg-1 col-xl-1 dis"></div>

		<div class="col-md-1 col-sm-1 col-lg-1 col-xl-1 dis"></div>
		<div class="col-md-10 col-sm-10 col-lg-10 col-xl-10 dis">
			<div class="card">
				<div class="card-header title" style="text-align: center;">
					Description
				</div>
				<div class="card-body text">
					the problem's description
				</div>
			</div>
		</div>
		<div class="col-md-1 col-sm-1 col-lg-1 col-xl-1 dis"></div>

		<div class="col-md-1 col-sm-1 col-lg-1 col-xl-1 dis"></div>
		<div class="col-md-5 col-sm-5 col-lg-5 col-xl-5 dis">
			<div class="card">
				<div class="card-header title" style="text-align: center;">
					Input Formate
				</div>
				<div class="card-body text">
					123
				</div>
			</div>
		</div>
		<div class="col-md-5 col-sm-5 col-lg-5 col-xl-5 dis">
			<div class="card">
				<div class="card-header title" style="text-align: center;">
					Output Formate
				</div>
				<div class="card-body text">
					123
				</div>
			</div>
		</div>
		<div class="col-md-1 col-sm-1 col-lg-1 col-xl-1 dis"></div>

		<div class="col-md-1 col-sm-1 col-lg-1 col-xl-1 dis"></div>
		<div class="col-md-5 col-sm-5 col-lg-5 col-xl-5 dis">
			<div class="card">
				<div class="card-header title" style="text-align: center;">
					Sample Input
				</div>
				<div class="card-body text">
					123
				</div>
			</div>
		</div>
		<div class="col-md-5 col-sm-5 col-lg-5 col-xl-5 dis">
			<div class="card">
				<div class="card-header title" style="text-align: center;">
					Sample Output
				</div>
				<div class="card-body text">
					123
				</div>
			</div>
		</div>
		<div class="col-md-1 col-sm-1 col-lg-1 col-xl-1 dis"></div>

	</div>

</div>




{% endblock %}

