{% extends 'base.html' %}

{% block title %}
Question_list
{% endblock %}

{% block Css %}
<link rel="stylesheet" type="text/css" href="/static/css/submission.css">
{% endblock %}

{% block main %}
<div class="container-fluid topdis">

	<div class="row">

			<div class="col-md-1 col-sm-1 col-lg-1 col-xl-1 dis"></div>
			<div class="col-md-4 col-sm-4 col-lg-4 col-xl-4 dis">
				<div class="card">
					<div class="card-header title">
						Popular Question
					</div>
					<div class="card-body text">
						<table class="table table-hover table-condensed table-striped">
							<thead>
								<tr>
									<th scope="col-md-1 col-sm-1 col-lg-1 col-xl-1"></th>
									<th scope="col-md-5 col-sm-5 col-lg-5 col-xl-5">TITLE</th>
									<th scope="col-md-2 col-sm-2 col-lg-2 col-xl-2">Time Limit</th>
									<th scope="col-md-3 col-sm-3 col-lg-3 col-xl-3">Solve/Submit</th>
									<th scope="col-md-1 col-sm-1 col-lg-1 col-xl-1"></th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td></td>
									<td>
										<a href="./Halloworld.html">HalloWorld</a>
									</td>
									<td>3s</td>
									<td>2276/2456</td>
									<td></td>
								</tr>
								<tr>
									<td></td>
									<td>Question2</td>
									<td>3s</td>
									<td>1234/1385</td>
									<td></td>
								</tr>
								<tr>
									<td></td>
									<td>Question3</td>
									<td>3s</td>
									<td>1111/1203</td>
									<td></td>
								</tr>
								<tr>
									<td></td>
									<td>Question4</td>
									<td>3s</td>
									<td>1023/1099</td>
									<td></td>
								</tr>
								<tr>
									<td></td>
									<td>Question5</td>
									<td>3s</td>
									<td>923/999</td>
									<td></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-sm-6 col-lg-6 col-xl-6 dis">
				<button type="button" class="btn btn-outline-success">Helloword</button>
				<button type="button" class="btn btn-outline-success">Dflipflop</button>
				<button type="button" class="btn btn-outline-success">Tflipflop</button>
				<button type="button" class="btn btn-outline-success">uva104</button>
				<button type="button" class="btn btn-outline-success">Dr.Yeh</button>
			</div>
		</div>
		<div class="col-md-3 col-sm-3 col-lg-3 col-xl-3 dis">
			<div class="card">
				<div class="card-header title">
					Difficult Grading
				</div>
				<div class="card-body text">
					<button type="button" class="btn btn-dark">One</button>
					<button type="button" class="btn btn-primary">Two</button>
					<button type="button" class="btn btn-success">Three</button>
					<button type="button" class="btn btn-warning">Four</button>
					<button type="button" class="btn btn-danger">Five</button>
				</div>
			</div>
		</div>

		<!-- <div class="col-md-6 col-sm-6 col-lg-6 col-xl-6 dis"> -->
		<div class="col-md-3 col-sm-3 col-lg-3 col-xl-3 dis">
			<div class="card">
				<div class="card-header title">
					Algorithm
				</div>
				<div class="card-body text">
					<button type="button" class="btn btn-light">DP</button>
					<button type="button" class="btn btn-light">Greedy</button>
					<button type="button" class="btn btn-light">Graph</button>
					<button type="button" class="btn btn-light">Math</button>
				</div>
			</div>
		</div>
		<div class="col-md-1 col-sm-1 col-lg-1 col-xl-1 dis"></div>

		<div class="col-md-1 col-sm-1 col-lg-1 col-xl-1 dis"></div>
		<div class="col-md-10 col-sm-10 col-lg-10 col-xl-10 dis">
			<h2>Normal / OneStar / FourStar / DP / Math / ...</h2>
		</div>
		<div class="col-md-1 col-sm-1 col-lg-1 col-xl-1 dis"></div>

		<div class="col-md-1 col-sm-1 col-lg-1 col-xl-1"></div>
		<div class="col-md-10 col-sm-10 col-lg-10 col-xl-10" style="text-align: right;">
			<a href="#" class="btn btn-xs btn-default">10</a>
			<a href="#" class="btn btn-xs btn-default">20</a>
			<a href="#" class="btn btn-xs btn-default">30</a>
		</div>
		<div class="col-md-1 col-sm-1 col-lg-1 col-xl-1"></div>

		<div class="col-md-1 col-sm-1 col-lg-1 col-xl-1 dis"></div>
		<div class="col-md-10 col-sm-10 col-lg-10 col-xl-10 dis">
			<table class="table table-hover table-striped">
				<thead>
					<tr>
						<th>#</th>
						<th>PID</th>
						<th>PName</th>
						<th>TimeLimit</th>
						<th>Author</th>
						<th>Total AC</th>
						<th>Total Submit</th>
						<th>AC Rate</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>1</td>
						<td>14391</td>
						<td>R0y</td>
						<td>3s</td>
						<td>ICEJJ</td>
						<td>333</td>
						<td>438</td>
						<td>76.03%</td>
					</tr>
					<tr>
						<td>2</td>
						<td>14391</td>
						<td>R0y</td>
						<td>3s</td>
						<td>ICEJJ</td>
						<td>333</td>
						<td>438</td>
						<td>76.03%</td>
					</tr>
					<tr>
						<td>3</td>
						<td>14391</td>
						<td>R0y</td>
						<td>3s</td>
						<td>ICEJJ</td>
						<td>333</td>
						<td>438</td>
						<td>76.03%</td>
					</tr>
					<tr>
						<td>4</td>
						<td>14391</td>
						<td>R0y</td>
						<td>3s</td>
						<td>ICEJJ</td>
						<td>333</td>
						<td>438</td>
						<td>76.03%</td>
					</tr>
					<tr>
						<td>5</td>
						<td>14391</td>
						<td>R0y</td>
						<td>3s</td>
						<td>ICEJJ</td>
						<td>333</td>
						<td>438</td>
						<td>76.03%</td>
					</tr>
					<tr>
						<td>6</td>
						<td>14391</td>
						<td>R0y</td>
						<td>3s</td>
						<td>ICEJJ</td>
						<td>333</td>
						<td>438</td>
						<td>76.03%</td>
					</tr>
					<tr>
						<td>7</td>
						<td>14391</td>
						<td>R0y</td>
						<td>3s</td>
						<td>ICEJJ</td>
						<td>333</td>
						<td>438</td>
						<td>76.03%</td>
					</tr>
					<tr>
						<td>8</td>
						<td>14391</td>
						<td>R0y</td>
						<td>3s</td>
						<td>ICEJJ</td>
						<td>333</td>
						<td>438</td>
						<td>76.03%</td>
					</tr>
					<tr>
						<td>9</td>
						<td>14391</td>
						<td>R0y</td>
						<td>3s</td>
						<td>ICEJJ</td>
						<td>333</td>
						<td>438</td>
						<td>76.03%</td>
					</tr>
					<tr>
						<td>10</td>
						<td>14391</td>
						<td>R0y</td>
						<td>3s</td>
						<td>ICEJJ</td>
						<td>333</td>
						<td>438</td>
						<td>76.03%</td>
					</tr>

				</tbody>
			</table>
		</div>
		<div class="col-md-1 col-sm-1 col-lg-1 col-xl-1 dis"></div>
		
		<div class="col-md-1 col-sm-1 col-lg-1 col-xl-1 dis"></div>
		<div class="col-md-10 col-sm-10 col-lg-10 col-xl-10 dis">
			<div class="pagination">
				<a href="#">&laquo;</a>
				<a href="#" class="active">1</a>
				<a href="#">2</a>
				<a href="#">3</a>
				<a href="#">4</a>
				<a href="#">5</a>
				<a href="#">6</a>
				<a href="#">&raquo;</a>
			</div>
		</div>
		<div class="col-md-1 col-sm-1 col-lg-1 col-xl-1 dis"></div>

	<!-- </div> -->

</div>




{% endblock %}

