{% extends 'base.html' %}

{% block title %}
Question
{% endblock %}

{% block Css %}
<link rel="stylesheet" type="text/css" href="../static/css/index.css">
<link rel="stylesheet" type="text/css" href="../static/css/Rish_block.css">
<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Playball">
{% endblock %}

{% block main %}
<div class="container-fluid topdis">

	<div class="row">
		
		<div class="col-md-1 col-sm-1 col-lg-1 col-xl-1 dis"></div>
		<div class="col-md-6 col-sm-6 col-lg-6 col-xl-6 dis">
			<h1>User Name</h1>
		</div>
		<div class="col-md-2 col-sm-2 col-lg-2 col-xl-2 dis">
			<div class="list-group">
				<a href="#" class="list-group-item list-group-item-action list-group-item-success">Edit</a>
			</div>
		</div>
		<div class="col-md-2 col-sm-2 col-lg-2 col-xl-2 dis">
			<div class="list-group">
				<a href="#" class="list-group-item list-group-item-action list-group-item-warning">Show</a>
			</div>
		</div>
		<div class="col-md-1 col-sm-1 col-lg-1 col-xl-1 dis"></div>

		<div class="col-md-1 col-sm-1 col-lg-1 col-xl-1 dis"></div>
		<div class="col-md-6 col-sm-6 col-lg-6 col-xl-6 dis">
			<div class="card">
				<div class="card-header title" style="text-align: center;">
					Problem Name
				</div>
				<form role = "form">
					<div class="form-group">
						<label for="name"></label>
						<input type="text" class="form-control">
					</div>
				</form>
			</div>
		</div>
		<div class="col-md-4 col-sm-4 col-lg-4 col-xl-4 dis">
			<div class="card">
				<div class="card-header title" style="text-align: center;">
					Tags
				</div>
				<form role = "form">
					<div class="form-group">
						<label for="name"></label>
						<div>
							<label class="checkbox-inline"> <input type="checkbox" name=""> DP</label>
							<label class="checkbox-inline"> <input type="checkbox" name=""> Greedy</label>
							<label class="checkbox-inline"> <input type="checkbox" name=""> Graph</label>
							<label class="checkbox-inline"> <input type="checkbox" name=""> Math</label>
						</div>
					</div>
				</form>
			</div>
		</div>
		<div class="col-md-1 col-sm-1 col-lg-1 col-xl-1 dis"></div>

		<div class="col-md-1 col-sm-1 col-lg-1 col-xl-1 dis"></div>
		<div class="col-md-10 col-sm-10 col-lg-10 col-xl-10 dis">
			<div class="card">
				<div class="card-header title" style="text-align: center;">
					Description
				</div>
				<!-- <div class="card-body text">
					SHOW
				</div> -->
				<form role = "form">
					<div class="form-group">
						<label for="name"></label>
						<textarea class="form-control" rows="10"></textarea>
					</div>
				</form>
			</div>
		</div>
		<div class="col-md-1 col-sm-1 col-lg-1 col-xl-1 dis"></div>

		<div class="col-md-1 col-sm-1 col-lg-1 col-xl-1 dis"></div>
		<div class="col-md-5 col-sm-5 col-lg-5 col-xl-5 dis">
			<div class="card">
				<div class="card-header title" style="text-align: center;">
					Input Formate
				</div>
				<!-- <div class="card-body text">
					SHOW
				</div> -->
				<form role = "form">
					<div class="form-group">
						<label for="name"></label>
						<textarea class="form-control" rows="5"></textarea>
					</div>
				</form>
			</div>
		</div>
		<div class="col-md-5 col-sm-5 col-lg-5 col-xl-5 dis">
			<div class="card">
				<div class="card-header title" style="text-align: center;">
					Output Formate
				</div>
				<!-- <div class="card-body text">
					SHOW
				</div> -->
				<form role = "form">
					<div class="form-group">
						<label for="name"></label>
						<textarea class="form-control" rows="5"></textarea>
					</div>
				</form>
			</div>
		</div>
		<div class="col-md-1 col-sm-1 col-lg-1 col-xl-1 dis"></div>

		<div class="col-md-1 col-sm-1 col-lg-1 col-xl-1 dis"></div>
		<div class="col-md-5 col-sm-5 col-lg-5 col-xl-5 dis">
			<div class="card">
				<div class="card-header title" style="text-align: center;">
					Sample Input
				</div>
				<!-- <div class="card-body text">
					SHOW
				</div> -->
				<form role = "form">
					<div class="form-group">
						<label for="name"></label>
						<textarea class="form-control" rows="5"></textarea>
					</div>
				</form>
			</div>
		</div>
		<div class="col-md-5 col-sm-5 col-lg-5 col-xl-5 dis">
			<div class="card">
				<div class="card-header title" style="text-align: center;">
					Sample Output
				</div>
				<!-- <div class="card-body text">
					SHOW
				</div> -->
				<form role = "form">
					<div class="form-group">
						<label for="name"></label>
						<textarea class="form-control" rows="5"></textarea>
					</div>
				</form>
			</div>
		</div>
		<div class="col-md-1 col-sm-1 col-lg-1 col-xl-1 dis"></div>

		<div class="col-md-1 col-sm-1 col-lg-1 col-xl-1 dis"></div>
		<div class="col-md-10 col-sm-10 col-lg-10 col-xl-10 dis">
			<input type="submit" class="btn btn-primary code-form-margin-bottom" value="Upload">
		</div>
		<div class="col-md-1 col-sm-1 col-lg-1 col-xl-1 dis"></div>
	</div>

</div>




{% endblock %}

