{% extends 'base.html' %}

{% block title %}
提交紀錄
{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="/static/css/submission.css">
{% endblock %}

{% block main %}

<div class="container-fluid submission_dis">

	<h4 class="title_submission">提交紀錄</h4>

	<form class="form-inline" method="POST GET">
		<label for="filter" style="font-size: 2em">Filter</label>
		<div class="form-group" style="margin-left: 1em;">
			<input id="filter_username" class="form-control input-sm flat" type="text" placeholder="Enter Username">
		</div>
		<div class="form-group" style="margin-left: 1em;">
			<input id="filter_problem" type="number" class="form-control input-sm flat" placeholder="Enter PID" min="1">
		</div>

		<div class="form-group" style="margin-left: 1em;">
			<input type="submit" value="Filter" class="btn btn-outline-info">
		</div>

	</form>

	<table class="table table-hover table-striped" style="margin-top: 1em;">
		<thead>
			<tr>
				<th>#</th>
				<th>PID</th>
				<th>Submitter</th>
				<th>Time(ms)</th>
				<th>Memory</th>
				<th>Verdict</th>
				<th>Lang</th>
				<th>Code Length</th>
				<th>Score</th>
				<th>Submit Time</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>10</td>
				<td>14391</td>
				<td>R0y</td>
				<td>88888</td>
				<td>8888</td>
				<td>TLE</td>
				<td>C++11</td>
				<td>2.12KB</td>
				<td>0</td>
				<td>2019-01-01 00:00:23</td>
			</tr>
			<tr>
				<td>9</td>
				<td>10992</td>
				<td>r0y</td>
				<td>0</td>
				<td>2391</td>
				<td>WA</td>
				<td>C++11</td>
				<td>2.11KB</td>
				<td>90</td>
				<td>2018-12-31 23:58:23</td>
			</tr>
			<tr>
				<td>8</td>
				<td>12992</td>
				<td>roy</td>
				<td>0</td>
				<td>2391</td>
				<td>WA</td>
				<td>C++11</td>
				<td>1.11KB</td>
				<td>90</td>
				<td>2018-12-31 22:58:23</td>
			</tr>
			<tr>
				<td>7</td>
				<td>102</td>
				<td>r0y4801</td>
				<td>23</td>
				<td>4567</td>
				<td class="spinner-border spinner-border-sm text-success m-2" role="status"></td>
				<td>C++11</td>
				<td>5.11KB</td>
				<td>100</td>
				<td>2018-12-31 21:45:23</td>
			</tr>
			<tr>
				<td>6</td>
				<td>10992</td>
				<td>R0y4801</td>
				<td>0</td>
				<td>1023</td>
				<td>AC</td>
				<td>C++11</td>
				<td>0.98KB</td>
				<td>100</td>
				<td>2018-12-31 19:58:45</td>
			</tr>
			<tr>
				<td>5</td>
				<td>10992</td>
				<td>Roy4801</td>
				<td>91929</td>
				<td>2391</td>
				<td>TLE</td>
				<td>C++11</td>
				<td>2.11KB</td>
				<td>20</td>
				<td>2018-12-31 18:28:53</td>
			</tr>
			<tr>
				<td>4</td>
				<td>10992</td>
				<td>r0y4801</td>
				<td>273</td>
				<td>2391</td>
				<td>WA</td>
				<td>C++11</td>
				<td>2.11KB</td>
				<td>80</td>
				<td>2018-12-31 18:28:52</td>
			</tr>
			<tr>
				<td>3</td>
				<td>881</td>
				<td>SunTalk</td>
				<td>0</td>
				<td>666</td>
				<td>AC</td>
				<td>C++11</td>
				<td>123KB</td>
				<td>100</td>
				<td>2018-12-31 17:59:59</td>
			</tr>
			<tr>
				<td>2</td>
				<td>11372</td>
				<td>Halloworld</td>
				<td>1000</td>
				<td>2322</td>
				<td>AC</td>
				<td>C++11</td>
				<td>1.11KB</td>
				<td>100</td>
				<td>2018-12-31 16:20:23</td>
			</tr>
			<tr>
				<td>1</td>
				<td>101</td>
				<td>ICEJJ</td>
				<td>0</td>
				<td>80</td>
				<td>WA</td>
				<td>C++11</td>
				<td>102KB</td>
				<td>10</td>
				<td>2018-12-31 15:33:23</td>
			</tr>
		</tbody>
	</table>


	<div class="pagination submission_dis">
		<a href="#">&laquo;</a>
		<a href="#" class="active">1</a>
		<a href="#">2</a>
		<a href="#">3</a>
		<a href="#">4</a>
		<a href="#">5</a>
		<a href="#">6</a>
		<a href="#">&raquo;</a>
	</div>


<!-- 	<div>
		<nav arie-label="Page navigation">
			<ul class="pagination">
				<li class="page-item"><a class="page-link" href="#"> << </a></li>
				<li class="page-item"><a class="page-link" href="#">1</a></li>
				<li class="page-item"><a class="page-link" href="#">2</a></li>
				<li class="page-item"><a class="page-link" href="#">3</a></li>
				<li class="page-item"><a class="page-link" href="#"> >> </a></li>
			</ul>
		</nav>
	</div> -->


</div>

{% endblock %}