{% extends 'base.html' %}


{% block Css %}
<link rel="stylesheet" type="text/css" href="/static/css/setting.css">
{% endblock %}

{% block title %}
Userinfo
{% endblock %}


{% block main %}

<div class="container-fluid topdis">
	<div class="row">

		<div class="col-md-3">
			<img class="img-rounded img-thumbnail" src="https://i.imgur.com/YS8in6o.jpg">
			<br>
			<br>
			<!--Username-->
			<h5 class="username">{{ current_user.username }}</h5>
			<!--Nickname-->
			<h6 class="nickname">{{ current_user.nickname }}</h6>
			<br>

			<div class="row">
				<div class="col-md-9 text font_bold">
					Tried and Accept:
					<br>
					Tried but not yet solved:
					<br>
					AC Rate:
				</div>

				<div class="col-md-3 text clear_left_padding">
					0
					<br>
					0
					<br>
					<!-- need to modify -->
					{{ current_user.submission.result }}
				</div>
			</div>

			<br>

			<div class="row">
				<div class="col-md-4 text font_bold">
					Email:
					<br>
					Admin:
				</div>
				<div class="col-md-8 text">
					{{ current_user.email }}
					<br>
					{% if permLevel == 1 %}
						True
					{% else %}
						False
					{% endif %}
				</div>
			</div>

			<br>
			Sign up at : {{ current_user.signUpTime }}
			<br>
			Last sign in : {{ current_user.lastLoginTime }}
			<br>
			<br>
			<a class="btn btn-primary" href="{{ url_for('edit') }}">Edit Profile</a>

		</div>
		<div class="col-md-9">
			test
		</div>
	</div>
</div>

{% endblock %}