{% extends 'base.html' %}
{% from "_submissions_macro.html" import render_submissions_table %}


{% block title %}
Rank
{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{{ url_for('contest_page.static', filename='css/contest.css') }}">
<link rel="stylesheet" type="text/css" href="../static/css/index.css">
<link rel="stylesheet" type="text/css" href="../static/css/Rish_block.css">
<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Playball">
{% endblock %}

{% block javascript %}
<script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
<script src="{{ url_for('contest_page.static', filename='js/contest_info.js') }}"></script>
{% endblock %}

{% block main %}
<div class="container-fluid topdis">
    <h2><b>{{ info.title }}</b></h2>
    <div class="tab">
        <button class="tablinks" onclick="ChangeTab(event, 'Problems')">Problems</button>
        <button class="tablinks" onclick="ChangeTab(event, 'Status')">Status</button>
        <button class="tablinks" onclick="ChangeTab(event, 'Rank'); get_rank({{ info.cid }})">Rank</button>
    </div>
      
      <!-- Tab content -->
    <div id="Problems" class="tabcontent" style="display: block;">
        <div class="tab">
            {% for i in range(info.problem_id|length) %}
            <button class="tablinks_problem" onclick="ChangeTab_Problem(event, 'Problem_{{ i+1 }}')">Problem {{ i+1 }}</button>
            {% endfor %}
        </div>
        <div id='contest_problem'>
            
        </div> 
    </div>
      
    <div id="Rank" class="tabcontent">
        <table class="table table-hover table-striped" style="margin-top: 1em;">
            <thead>
                <tr>
                    <th width=2.5%>#</th>
                    <th width=21.5%>Team</th>
                    <th width=3%>Solved</th>
                    <th width=3%>Time</th>
                    {% for i in range(info.problem_id|length) %}
                        <th width={{ 60/info.problem_id|length }}% style="text-align: center"> {{ i+1 }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody id="table-rank">
                
            </tbody>
        </table>
    </div>
      
    <div id="Status" class="tabcontent">
        <!-- Submissions -->
        <table class="table table-hover table-striped" style="margin-top: 1em;">
            <thead>
                <tr>
                    {% if is_admin %}
                    <th style="width: 5%"></th>
                    {% endif %}
                    <th>#</th>
                    <th>PID</th>
                    <th>Submitter</th>
                    <th>Time(ms)</th>
                    <th>Memory</th>
                    <th>Verdict</th>
                    <th>Lang</th>
                    <th>Code Length</th>
                    <th>Score</th>
                    <th>Submit Time</th>
                </tr>
            </thead>
            <tbody>
                {% if sub_list %}
                    {% for i in sub_list %}
                    {{ render_submissions_table(i) }}
                    {% endfor %}
                {% endif %}
            </tbody>
        </table>
        <!-- Pagination -->
        <div class="container-fluid">
            
        </div>
    </div>

    
</div>

<script>
    $(document).ready(function() {
        setProblems('{{info.cid}}', '{{ csrf_token() }}');
    });
</script>

{% endblock %}